[submodule "purescript/purescript-fiat-game"]
	path = purescript/purescript-fiat-game
	url = https://github.com/FiatGames/purescript-fiat-game.git
[submodule "purescript-fiat-game"]
	path = purescript-fiat-game
	url = https://github.com/FiatGames/purescript-fiat-game.git
	branch = master
